/* Copyright 2026 井上葵. */
html {
    height: 100%;
    width: 100%;
    font-size: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
    background-image: url('');
}
div#wrapper {
    font-family: 'M PLUS 2', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: block;
    width: 720px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5dc;
}
header {
    display: inline-block;
    width: fit-content;
    margin: 16px auto;
    background-color: #ffffff;
}
h1 {
    display: inline-block;
    margin: 0;
    padding: 8px;
    font-size: 24px;
}
button{
    font-family: 'M PLUS 2', sans-serif;
}
section.nav {
    display: block;
    margin: 16px auto;
}
table{
    text-align: left;
    margin: auto;
}
#color-table tr{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 8px;
}
#color-table tr td{
    display: block;
}
span.colors {
    --before-bg-color: #ffffff;
    display: inline-block;
    margin: 0;
    padding: 4px;
    vertical-align: middle;
}
span.colors::before{
    display: inline-block;
    width: 1em;
    height: 1em;
    content: "";
    box-sizing: border-box;
    background-color: var(--before-bg-color);
}
section#result {
    display: none;
}
section#result div{
    display: block;
    width: 300px;
    margin: 8px auto;
    background-color: #ffffff;
    padding: 4px;
}
section#result div div{
    display: block;
    width: auto;
    height: fit-content;
    margin: 8px auto;
    text-align: left;
}
h2{
    display: inline-block;
    font-size: 18px;
    margin: 8px auto;
}
canvas#result-graph{
    display: block;
    width: 240px;
    height: 240px;
    margin: 8px auto;
}
p.result-colors {
    display: inline-block;
    vertical-align: middle;
}
p{
    margin: 0;
}